---
##
# Configure the mysql root user
##
- block:
  - name: MYSQL_USER | Set provided MySQL root password
    mysql_user:
      name: root
      password: "{{ percona_mysql_root_password }}"
      priv: "*.*:ALL,GRANT"
      login_user: root
    when:
      - percona_mysql_root_password is defined
      - percona_mysql_root_password != ''

  - name: BLOCK | Attempt to set a new random MySQL root password
    block:

    - name: TEMPFILE | Ensure a temporary mysql password file exists
      tempfile:
        state: file
        suffix: _percona_mysql
      register: percona_mysql_password_file

    - name: MYSQL_USER | Set a random generated MySQL root password (no password provided)
      mysql_user:
        name: root
        password: "{{ lookup('password', percona_mysql_password_file.path + ' length=15') }}"
        priv: "*.*:ALL,GRANT"
        login_user: root

    - name: SET_FACTS | Read generated password file for root my.cnf template
      set_fact:
        percona_mysql_root_password: "{{ lookup('file', percona_mysql_password_file.path) }}"

    when: (percona_mysql_root_password is not defined or percona_mysql_root_password == '') and
          (not percona_mysql_root_my_cnf_exists or (percona_mysql_root_my_cnf_exists and percona_mysql_renew_existing_password))

  - name: FACTS | Set current root password for MySQL
    set_fact:
      percona_mysql_root_password: "{{ percona_mysql_root_existing_password }}"
    when: (percona_mysql_root_password is not defined or percona_mysql_root_password == '') and percona_mysql_root_existing_password is defined

  - name: MYSQL_USER | Create read-only MySQL user as default login user
    mysql_user:
      name: root-ro
      password: "{{ percona_mysql_root_password }}"
      priv: "*.*:SELECT"
      login_user: root
      login_password: "{{ percona_mysql_root_password }}"
    when: percona_mysql_read_only_user_enabled

  - name: COPY | Create remote file with mysql root password
    copy:
      content: "{{ percona_mysql_root_password }}"
      dest: "{{ percona_mysql_root_passwd_file }}"
      owner: root
      group: root
      mode: 0600
    when: percona_mysql_create_root_passwd_file

  - name: TEMPLATE | Create root .my.cnf from template
    template:
      src: "root.cnf.j2"
      dest: "{{ percona_mysql_root_my_cnf_file }}"
      owner: root
      group: root
      mode: 0600
  when: percona_mysql_enabled
